@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --white: #ffffff;
  --darkblue: #2A324B;
  --lightblue: #58699D;
  --gray: #E1E5EE;

  --font: 'Montserrat', 'arial';
  --maxSize: 1000px;
}

/*NAV*/
nav ul {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: var(--maxSize);
  min-width: 80%;

  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  cursor: pointer;
  background-color: var(--darkblue);
  color: var(--white);
  font-weight: 800;
  padding: 1.2rem 3.25rem;
}

.selected {
  background-color: var(--white);
  color: black;
}

/*MAIN*/

main {
  background-color: white;
  width: var(--maxSize);
}

body {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: var(--gray);
  font-family: var(--font);
  margin: 0;
  padding: 2rem 0;
}

#container {
  padding: 4rem 3rem;
  min-width: 80%;
}


