@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --darkblue: #2A324B;
  --lightblue: #58699D;
  --gray: #E1E5EE;
  --white: #ffffff;

  --font: 'Montserrat', 'arial';
  --maxSize: 1000px;
}

html {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}


/*NAV*/

nav ul {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  cursor: pointer;
  background-color: var(--darkblue);
  color: var(--white);
  font-weight: 700;
  padding: 1.2rem 3.25rem;
}

.selected {
  background-color: var(--white);
  color: black;
}


/*MAIN*/

main {
  background-color: white;
  width: var(--maxSize);
}

body {
  position: absolute;
  top: 7rem;

  background-color: var(--gray);
  font-family: var(--font);
  margin: 0;
  padding: 2rem 0;
}

#container {
  padding: 4rem 3rem;
}